.Card {
  position: absolute;
}

.pic {
  margin: 5px;
  border: pink solid;
  border-radius: 50px;
  color: gray;
  width: 40vw;
  height: 80vh;
  object-fit: cover;
  z-index: 99;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.info {
  position: absolute;
  bottom: 40px;
  left: 37%;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  color: white;
  z-index: 900;
}

@media screen and (max-width: 700px) {
  .pic {
    width: 95vw;
    height: 80vh;
  }

  .info {
    left: 10%;
  }
}
